*{
    box-sizing: border-box;
}

.timer{
    display: flex;
    justify-content: flex-end;
}

.quiz-container{
   padding: 30px;
   text-align: center;

}


h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;


}

button{
    background-color: purple;
    border-radius: 8px;
    border-color:whitesmoke;
    padding: 5px 10px;
    font-size: 20px;
    color: whitesmoke;

 

}
.choices{
    
    background-color: purple;
    border-radius: 8px;
    border-color:whitesmoke;
    padding: 5px 10px;
    font-size: 20px;
    color: whitesmoke;
}